@import url('https://fonts.googleapis.com/css2?family=Cairo:wght@300;400;500;600;700;800&family=Montserrat:wght@300;400;500;600;700;800&display=swap');
@import "tailwindcss";
@import "leaflet/dist/leaflet.css";

.font-ar { font-family: 'Cairo', 'Montserrat', sans-serif; }
.font-en { font-family: 'Montserrat', sans-serif; }

.scrollbar-none::-webkit-scrollbar {
  display: none;
}
.scrollbar-none {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}

@theme {
  --animate-shimmer: shimmer 3.5s infinite;

  @keyframes shimmer {
    0% {
      transform: translateX(-100%);
    }
    100% {
      transform: translateX(100%);
    }
  }
}
